  body {
    background-image: url("../images/img_0707.jpg");
	text-align: center;
	background-size: 60%;
	color: #44008b;
    justify-content: center;
    padding-top: 50px;
    padding-left: 350px;
    width: fit-content;

  }
  .bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  h1 {
    font-family: 'Bungee', sans-serif;
    padding-bottom: 20px;
  }
  form { 
    background-color: #e54ed0;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
   }

  name {
  	color: white;
    padding-top: 30px;
  }
  phone {
  	color: white;
  }
  ol {
  	padding: 0;
  	list-style-type: none;
  }
  li {
  	padding-bottom: 1em;
  }
  @media screen and (min-width: 500px) {
   body {
   	display: flex;
   	align-content: center;
   	justify-content: center;
    width: 60%;
    font-size: 15px;
   }
   main {
   	width: 70%;
   }
   h1 {
    font-size: 20px;
    margin-bottom: 10px;
   }
   form {
    width: 60%;
   }
 }

   @media screen and (min-width: 992px) {
     body {
       display: flex;
       justify-content: center;
       align-items: center;
     }
     main {
        width: 75%;
        font-size: 1.15em;
     }
     form{
        width: 80%;
     }
     h1{
        font-size: 20px;
        margin-bottom: 10px;
     }

     #input-submit input[type="submit"] {
        width: 50%;
        font-size: 1.5em;
        border-radius: 5%;
     }
    }

  #submit {
	box-sizing: border-box;
	border-radius: 0.5em;
	border: 0;
	font-size: 1.4em;
	color: white;
	padding: 1em;
	background-color: #00076f;
  }